.NavbarItems {
    background: rgb(255, 255, 255);
    display: flex;
    height: 100px;
}

.navbar-home {
    margin-left: 20px;
    justify-self: start;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Sen', sans-serif;
    font-size: 300%;
}

.navbar-account {
    margin-left: 10px;
    margin-right: 20px;
    justify-self: center;
    cursor: pointer;
    font-family: 'Sen', sans-serif;
    font-size: 150%;
}

.navbar-account-items {
    margin-left: auto;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}