.jobs-header {
    margin-left: 50%;
    margin-top: 30px;
    font-family: 'Sen', sans-serif;
    font-size: 250%;
}

.jobs-container {
    margin-left: 20%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.jobs {
    margin-top: 5%;
    width: 85%;
    border: 2px solid rgb(20, 20, 20);
    padding: 1.5%;
}

.job-title {
    font-weight: bold;
}

.job-company {
    font-size: 80%;
}

.job-description {
    font-family: 'Sen', sans-serif;
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.job-source {
    font-size: 80%;
}
