body {
    background: rgb(51,51,51);
    background: linear-gradient(0deg, rgb(143, 143, 143) 0%, rgb(255, 255, 255) 60%, rgba(255,255,255,1) 100%);
    height: 1250px;
    overflow: hidden;
}

form label {
    font-weight: bold;
    font-family: 'Sen', sans-serif;
}

.login-container {
    background-color: white;
    margin: auto;
    width: 400px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 25px;
    box-shadow: #F1AC88 0px 7px 29px 0px;
}

.login-text {
    margin-top: 8%;
    text-align: center;
    margin-bottom: 1%;
    font-weight: bold;
    font-size: 30px;
}

.btn-container {
    display: flex;
    margin-top: 12%;
    margin-bottom: 8%;
    margin-left: 8%;
}

.login-button {
    margin-left: 280%;
    width: 50px;
    height: 38px;
    display:inline-block;
    border-radius: 20px;
    font-size: 20px;
    border: none;
    border-width: 1px;
    transition: all 0.2s;
    background-color: #783937;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    padding-left: 30%;
    cursor: pointer;
}

.login-button:hover {
    background-color: #64302e;
}

.login-button:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}

.right-arrow {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px;
    height: 12px;
    width: 12px;
    border-right: 2px solid rgba(255, 255, 255, 1);
    border-top: 2px solid rgba(255, 255, 255, 1);
    transform: translateX(-25%) rotate(45deg);
}

.register-button {
    width: 142px;
    height: 38px;
    display:inline-block;
    border-radius: 15px;
    font-size: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 1px;
    transition: all 0.2s;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
    background-color: #783937;
    text-align: center;
    padding-top: 5px;
    cursor: pointer;
    color: white;
    
}

.register-button:hover {
    background-color: #64302e
}

.register-button:active {
    transform: translateY(4px);
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    border-bottom: none;
}


.input-box {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
    padding: 10px;
    margin-bottom: 2%;
}
.input-box:hover {
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}